<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogLevel="trace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--
  IMPORTANT - Please read.
  
  This file will not be deployed with Octopus Deploy.  Any changes that you make to this file will not be deployed.
  -->
  <targets>
    <target xsi:type="File"
          name="LogFile"
          fileName="${processname}.log"
          archiveFileName="${processname}.{#}.log"
          archiveNumbering="Rolling"
          ArchiveOldFileOnStartup="true"
          maxArchiveFiles="10"
          concurrentWrites="true"
          keepFileOpen="true"
          openFileCacheTimeout="30"
     >
      <layout xsi:type="CompoundLayout">
        <layout xsi:type="SimpleLayout" text="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message} ${exception:format=type,message,stackTrace,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
      </layout>
    </target>

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>
  <rules>
    <logger minlevel="Debug" name="*" writeTo="LogFile" />
    <logger minlevel="Debug" name="*" writeTo="ColoredConsole" />
  </rules>
</nlog>