<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <throttlePolicy ipThrottling="#{EnableIpThrottling}" xdt:Transform="SetAttributes(ipThrottling)">
    <whitelists>
      <add policyType="1" entry="#{IpThrottlingWhitelist}" xdt:Transform="Insert"/>
    </whitelists>
  </throttlePolicy>
  <appSettings>
    <add key="HangfireUsername2" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword2" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfireUsername3" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword3" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfireUsername4" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword4" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfireUsername5" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword5" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfireUsername6" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword6" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfireUsername7" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword7" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfireUsername8" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword8" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfireUsername9" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
    <add key="HangfirePassword9" value="not_used_if_hangfire_users_is_1" xdt:Transform="Insert"/>
  </appSettings>
</configuration>  