<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="HangfireDatabase" connectionString="Data Source=PPUABIMSQLT07;Initial Catalog=T4Certification;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <!--<add name="HangfireDatabase" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=CertificationHangfire;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
    <!--Dev-->
    <add name="Certification" connectionString="Data Source=PPUABIMSQLT07;Initial Catalog=T4Certification;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
	  <!--Local-->
    <!--<add name="Certification" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Certification;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- 1. Owin Hosting -->
    <add key="OwinUrl" value="https://localhost:44310/" />
    <add key="authority" value="https://devidentity2.abim.org:44304/identity/" />
    <add key="tokenEndPoint" value="https://devidentity2.abim.org:44304/identity/connect/token" />
    <add key="oauth_client" value="CertificationApi" />
    <add key="oauth_secret" value="CertificationApi" />
    <!-- 2. Platform Owin Services -->
    <add key="ProfileHostUrl" value="https://devidentityprofile.abim.org:44304/" />
    <add key="ProductHostUrl" value="https://devproduct.abim.org:44304/" />
    <add key="ProgramHostUrl" value="https://devprogram.abim.org:44304/" />
    <add key="RegistrationHostUrl" value="https://devregistration.abim.org:44304/" />

    <!-- 3. RabbitMQ Settings -->
    <add key="RabbitMQ.Path" value="rabbitmq://rabbitmqdev.abim.org:5671/test" />
    <!--<add key="RabbitMQ.Path" value="rabbitmq://rabbitmqdev.abim.org:5671/PlatformT2" />-->
    <add key="RabbitMQ.Queue.CorrectiveAction" value="program_correctiveAction_queue" />
    <add key="RabbitMQ.Queue.FPHMAttestInitial" value="program_fphmAttestInitial_queue" />
    <add key="RabbitMQ.Queue.ExamResultRelay" value="program_examResultRelay_queue" />    
    <add key="RabbitMQ.Queue.LngParticipationResult" value="program_lngParticipationResult_queue" />
    <add key="RabbitMQ.User" value="Platform" />
    <add key="RabbitMQ.Password" value="2DlkXcHicWLW" /> 
	  
    <add key="RabbitMQ.UseSSL" value="True" />
    <!-- 4. Feature Toggling -->
    <add key="FeatureToggle.Feature_Metrics" value="false" />
    <add key="FeatureToggle.Feature_MassTransit" value="true" />
    <add key="FeatureToggle.Feature_RestApi" value="true" />
    <add key="FeatureToggle.Feature_HangfireDashboard" value="true" />
    <add key="FeatureToggle.Feature_ErrorPage" value="false" />
    <add key="FeatureToggle.Feature_WelcomePage" value="true" />
    <add key="FeatureToggle.Feature_MetricsConsole" value="false" />
    <add key="FeatureToggle.Feature_MetricsEndpoint" value="false" />
    <add key="FeatureToggle.Feature_RedisCache" value="false" />
    <!-- 5. Swagger Settings -->
    <add key="EnableSwagger" value="True" />
    <!-- 6. Hangfire Settings -->
    <add key="HangfireUsername1" value="hangfireuser" />
    <add key="HangfirePassword1" value="hangfire" />
    <add key="HangfireQueueName" value="program" />
    <add key="HangfireUsers" value="1" />
    <add key="HangfireUsername2" value="hangfireuser" />
    <add key="HangfirePassword2" value="hangfire" />
    <add key="HangfireUsername3" value="otherhangfireuser" />
    <!--Will only be used by the code, and be replaced with values by Octopus, when HangfireUsers is set to 3-->
    <add key="HangfirePassword3" value="hangfire" />
    <!--Will only be used by the code, and be replaced with values by Octopus, when HangfireUsers is set to 3-->
	<add key="HangfireUsername4" value="yetanotherhangfireuser" />
	<!--Will only be used by the code, and be replaced with values by Octopus, when HangfireUsers is set to 3-->
	<add key="HangfirePassword4" value="hangfire" />
	<!--Will only be used by the code, and be replaced with values by Octopus, when HangfireUsers is set to 3-->

	<add key="HangfireMaxRecordsToProcess" value="100" />
    <!-- 7. Other Settings -->
    <add key="AdminGroup" value="DevAdmin" />
    <add key="Metrics.RefreshInterval" value="00.05.00" />
    <add key="ClaimType.AbimId" value="http://schemas.abim.org/2016/identifier/abim" />
    <add key="ClaimType.ADFSBackDoor" value="DevEnvironmentAdmins" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Redis.Host" value="localhost" />
    <add key="Redis.Port" value="32768" />
    <add key="MongoDb.Server" value="mongodb://localhost" />
    <add key="MongoDb.Database" value="Certification" />
    <add key="RunningStatusText" value="RUNNING" />
    <add key="StoppingStatusText" value="STOPPING" />
    <add key="CooldownSeconds" value="1" />
    <add key="ExactTarget:PrintLetterQueue" value="printletterQA@abim.org" />
    <add key="UsePollyForInterservice" value="true" />
    <add key="PollyRetries" value="10" />
    <add key="PollyInterservicePauseBetweenRetries" value="5" />
    <!-- 8. Background Jobs Client Credential -->
    <add key="backgroundClientId" value="IdentityTestApi" />
    <add key="backgroundClientSecret" value="idtestapiauthcode" />
    <add key="VocLetterOutputPath" value="VocLetters" />
    <!--9. NCache-->
    <add key="ncache.application_id" value="programApp" />
  <add key="nhibernate-logger" value="NHibernate.Logging.CommonLogging.CommonLoggingLoggerFactory, NHibernate.Logging.CommonLogging" /></appSettings>
  <!--https://github.com/stefanprodan/WebApiThrottle-->
  <throttlePolicy limitPerMinute="6000" ipThrottling="false" clientThrottling="false" endpointThrottling="false">
    <!-- also can set **************
                limitPerSecond="1"
                limitPerMinute="6000"
                limitPerHour="30" 
                limitPerDay="300"
                limitPerWeek ="1500" -->
    <!-- policyType values are 1 - IP, 2 - ClientKey, 3 - Endpoint
    <rules>     
      Ip rules
      <add policyType="1" entry="::1/10" limitPerSecond="2" limitPerMinute="15"/>
      <add policyType="1" entry="192.168.2.1" limitPerMinute="12" />
      Client rules
      <add policyType="2" entry="api-client-key-1" limitPerHour="6000" />
      Endpoint rules
      <add policyType="3" entry="api/values" limitPerDay="120" />
    </rules>
    -->
    <whitelists>
      <!--Ip whitelist-->
      <add policyType="1" entry="127.0.0.1" />
      <!--Client whitelist (example below)-->
      <!--<add policyType="2" entry="api-admin-key" />-->
    </whitelists>
  </throttlePolicy>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.480" newVersion="2.0.0.480" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2.33" newVersion="1.0.2.33" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.608.0" newVersion="1.1.608.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewId" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.20.0" newVersion="3.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.20.0" newVersion="3.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.20.0" newVersion="3.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.20.0" newVersion="3.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.20.0" newVersion="3.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.20.0" newVersion="3.1.20.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Diagnostics.HealthChecks" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.20.0" newVersion="3.1.20.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="ncachebin\opensource" />
    </assemblyBinding>
  </runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="ncachebin\opensource" />
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="ncachebin\opensource" />
    </assemblyBinding>
  </runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="ncachebin\enterprise" />
    </assemblyBinding>
  </runtime>
</configuration>
